<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./telainicio.css">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/telainicio.css')}}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a>Critic<span>Wave</span></a>

        </div>

    </header>
    <div class="principal">
        <div class="filho-principal">
            <h1>Confira os filmes e avalie já!</h1>
            <p>Você já teve dúvidas se realmente valia apena pagar para assistir algum filme? Agora você poderá saber o que estão falando do filme antes de assisti-lo,
                ver comentários e avaliações. E também, poderá avaliar para que outras pessoas vejam. É simples, basta se cadastrar, é grátis e rápido!</p>

        </div>
    <div class="registrar">
        <a href="/login">Entrar</a>
    </div>
    <div class="registrar">
        <a href="/registro">Registrar-se</a>
    </div>
    <div class="filho-principal">
        <h1>Não quer se registrar?</h1>
        <p>Não tem problema, o catalogo é aberto a todos!</p>
    </div>
    <div class="registrar">
        <a href="/catalogo">Catalogo</a>
    </div>
    </div>

    <div class="grade">

    </div>


</body>
</html>